.btn-submit {
  padding: 10px 20px; /* Ajustez le padding pour un meilleur aspect */
  border-radius: 5px; /* Bordures arrondies pour un look plus moderne */
  border: none; /* Supprime la bordure par défaut des boutons */
  background-color: #2C5367; /* Couleur de fond initiale, similaire à .search-button */
  color: white; /* Couleur du texte */
  cursor: pointer; /* Curseur en forme de pointeur pour indiquer l'interactivité */
  outline: none; /* Supprime le contour lors de la sélection */
  transition: background-color 0.3s; /* Transition douce pour l'effet de survol */
  margin-bottom: 2rem;
}

.btn-submit:hover {
  background-color: #1B3B4F; /* Couleur de fond au survol, similaire à .search-button:hover */
}

.required-asterisk {
  color: rgb(110, 9, 9);
}

.bi-exclamation-triangle-custom{
    font-size: 1.2rem;
    color: #e81c1c;
}
