.btn-submit {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #2C5367;
  color: white;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
  margin-bottom: 2rem;
}

.btn-submit:hover {
  background-color: #1B3B4F;
}

.required-asterisk {
  color: rgb(110, 9, 9);
}

