.footer {
  background-color: #2C5367;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 0.1rem;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Autres styles spécifiques pour le pied de page fixe */
}

.relative-footer {
  position: relative;
  width: 100%;
  /* Autres styles spécifiques pour le pied de page relatif */
}

.footer-heading{
  color: #eee; /* Couleur pour les titres des sections */
  font-size: 1.2rem;
}

.footer-heading-a {
  text-decoration: none;
}

.footer-heading:hover {
  color: #fff; /* Couleur au survol */
  text-decoration: underline; /* Souligne les liens au survol */
}

.list-unstyled {
  padding-left: 0; /* Supprime le padding par défaut des listes */
  list-style-type: none; /* Supprime les puces des listes */
}
