<div class="container">
  <br>
  <h1 class="h1-custom texte-couleur-bleu">Plan du site</h1>
  <br>
  <div class="alert alert-primary" role="alert">
    <div class="message-information">
        <i class="bi bi-info-circle bi-info-circle-custom"></i>
        Liste de l'ensemble des liens de notre application.
    </div>
  </div>
    <ul class="footer-links">
      <li><a href="/">Accueil</a></li>
      <li><a href="/liste-joueur">Les Joueurs</a></li>
      <li><a href="/inscription">Inscription</a></li>
      <li><a href="/tournoi">Les Tournois</a></li>
      <li><a href="/classement">Classement</a></li>
  </ul>
</div>
