.container {
  font-family: 'Arial', sans-serif;
}

.alert-primary {
  background-color: #cce5ff;
  border-color: #b8daff;
  padding: 15px;
  border-radius: 5px;
}

.container-gauche {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
}

.contributeur h4 {
  margin-bottom: 10px;
}

.contributeur p {
  font-size: 16px;
  line-height: 1.5;
  color: #212529; /* Gris foncé */
}

.contributeur:not(:last-child) {
  margin-bottom: 20px;
}

/* Ajoutez des styles pour les icônes si vous en avez */
.bi-info-circle {
  color: #007bff; /* Bleu */
  margin-right: 5px;
}
