<div class="container">
  <br>
  <h1 class="h1-custom texte-couleur-bleu">Contributeurs</h1>
  <br>
  <div class="alert alert-primary" role="alert">
    <i class="bi bi-info-circle"></i> Découvrez qui a contribué à notre application et leurs rôles.
  </div>
  <div class="container-gauche en-savoir-plus">
    <div class="grid-x cell">
      <!-- Contributeur : Rabab Boulkriat -->
      <div class="contributeur">
        <h4>Rabab Boulkriat</h4>
        <p>Rabab a apporté une dimension interactive à notre application grâce à la mise en place d'une fonctionnalité de jeu innovante, permettant à chaque joueur de se mesurer à tous les autres participants du tournoi. Cette fonctionnalité enrichit l'expérience utilisateur en offrant une variété de défis et de rencontres. De plus, elle a conçu un algorithme de classement des joueurs qui tient compte de multiples facteurs, telles que les victoires, les défaites et les scores, pour établir un classement juste et représentatif du niveau de compétence de chaque joueur.</p>
      </div>
      
      <!-- Contributeur : Elsa Hadjadj -->
      <div class="contributeur">
        <h4>Elsa Hadjadj</h4>
        <p>Elsa a été la force créatrice derrière l'aspect visuel et l'expérience utilisateur de notre application, en concevant une interface utilisateur intuitive et esthétiquement plaisante. Son travail a permis de simplifier l'accès aux informations clés telles que les tournois disponibles, les listes de joueurs inscrits, et les détails des matchs de chaque tournoi. Grâce à son expertise en développement front-end, Elsa a assuré que l'application soit non seulement fonctionnelle, mais aussi engageante et facile à naviguer pour les utilisateurs de tous niveaux.</p>
      </div>
      
      <!-- Contributeur : Quentin Bouetel -->
      <div class="contributeur">
        <h4>Quentin Bouetel</h4>
        <p>Quentin a joué un rôle crucial dans l'optimisation de notre application de tournoi en développant un algorithme sophistiqué de calcul du temps. Cet algorithme prend en compte divers formats de tournoi, garantissant une gestion efficace du temps pour chaque événement. En outre, il a mis en œuvre un système d'équilibrage avancé pour les équipes et les matchs, assurant ainsi une compétition équitable et équilibrée. Cette fonctionnalité est particulièrement importante pour les tournois avec un nombre impair de participants ou des niveaux de compétence variés, où l'équité est une préoccupation majeure.</p>
      </div>

    </div>
  </div>
  <br>
</div>
